body{




background: #A1FFCE; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #A1FFCE , #FAFFD1); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #A1FFCE , #FAFFD1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */







}

.page {
  color: #222;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 70vh;
  text-align: center;
}

.wrap {
	perspective: 800px;
	perspective-origin: 50% 100px;
}

.cube {
	position: relative;
	width: 200px;
	transform-style: preserve-3d;
}

.cube div {
	position: absolute;
	width: 200px;
	height: 200px;
}

.box-face {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.98;
  box-shadow: inset 0px 0px 100px  #ffb3ff;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
  background-image: url("assets/1.png");
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
  background-image: url("assets/4.png");
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
  background-image:url("assets/2.png");
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
  background-image: #fafafa;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
  background-image: #bbb;
}
.front {
	transform: translateZ(100px);
  background-image: url("assets/3.png");
}

/*horizontal transformation*/

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube {
	animation: spin 2s infinite linear;
}

/*vertical transformation*/

@keyframes spin-vertical {
	from { transform: rotateX(0); }
	to { transform: rotateX(-360deg); }
}

.cube-wrap.vertical .cube {
	margin: 0 auto; /* keeps the cube centered */

	transform-origin: 0 100px;
	animation: spin-vertical 5s infinite linear;
}

.cube-wrap.vertical .top {
	transform: rotateX(-270deg) translateY(-100px);
}

.cube-wrap.vertical .back {
	transform: translateZ(-100px) rotateX(180deg);
}

.cube-wrap.vertical .bottom {
	transform: rotateX(-90deg) translateY(100px);
}
